{% extends "communities/base.html"%}
{% block content %}
<h1>Welcome to All Events</h1>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'All-posts' %}">All Posts</a>
	<a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'All-events' %}">All Events</a>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'MK-posts' %}">Mortal Kombat Posts</a>
	<a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'MK-events' %}">Mortal Kombat Events</a>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'Smash-posts' %}">Smash Posts</a>
	<a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'Smash-events' %}">Smash Events</a>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'GG-posts' %}">Guilty Gear Posts</a>
	<a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'GG-events' %}">Guilty Gear Events</a>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'SF-posts' %}">Street Fighter Posts</a>
	<a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'SF-events' %}">Street Fighter Events</a>
    <br>
    <a class = "btn btn-primary btn-lg mt-1 mb-1"href="{% url 'recommender' %}">Recommender</a>
    <br>
    <br>
    {% for event in events %}
        <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ event.creator }}</a>
          <small class="text-muted">{{event.date_created|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'events-detail' event.id %}">{{ event.title }}</a></h2>
        <p class="article-content">{{ event.content }}</p>
            <p class="article-content">{{ event.community }}</p>
            <p class="article-content">{{ event.event_date }}</p>
      </div>
    </article>
    {% endfor %}
    {% if not events %}
    <p>No events found</p>
    {% endif %}
{% endblock content%}