{% extends "communities/base.html"%}
{% block content %}
<h1>Welcome to Mortal Kombat Posts</h1>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'All-posts' %}">All Posts</a>
	<a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'All-events' %}">All Events</a>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'MK-posts' %}">Mortal Kombat Posts</a>
	<a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'MK-events' %}">Mortal Kombat Events</a>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'Smash-posts' %}">Smash Posts</a>
	<a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'Smash-events' %}">Smash Events</a>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'GG-posts' %}">Guilty Gear Posts</a>
	<a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'GG-events' %}">Guilty Gear Events</a>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'SF-posts' %}">Street Fighter Posts</a>
	<a class = "btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'SF-events' %}">Street Fighter Events</a>
    <br>
    <a class = "btn btn-primary btn-lg mt-1 mb-1"href="{% url 'recommender' %}">Recommender</a>
    <br>
    <br>
    {% for post in posts %}
		<article class="media content-section">
		  <img class = "rounded-circle article-img" src = "{{post.author.profile.image.url}}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted }}</small>
		      <small class="text-muted">{{ post.community }}</small>
		    </div>
		    <h2><a class="article-title" href="{% url 'post-detail' post.id%}">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	{% endfor %}
    {% if not posts %}
    <p>No posts found</p>
    {% endif %}
{% endblock content%}