{% extends "blog/base.html" %}
{% block content %}
	<h1>ABOUT NEUTRAL</h1>
	<p1> The goal of Team Neutral is to create a platform for members of the niche community of fighting games to come together and celebrate their love and passion for the genre.
		Our website provides all users with a place to post their thoughts and experiences with fighting games in a space where everyone around them shares the same interest.
		While the site is currently devoid of any particularly unique features, we plan to implment some which specifically benefit the fighting game scene.
		We at Team Neutral hope you enjoy our website and see it as "neutral" territory for all fighting game enthusiasts.
		<br>
		<br>
		Members of Team Neutral:<br>
		Kristofer Elmarsson - Team leader, Front end developer<br>
		Christopher Votilla - Back end developer, Documentor<br>
		Shishir Timsina - Back end developer<br>
		Andrew Motto - Front end developer, QA<br>

	</p1>
{% endblock content %}
