{% extends "communities/base.html"%}
{% block content %}
<h1>Welcome to Joined Events</h1>
{%if user.is_authenticated%}
    {% for event in events %}
    {% if user in event.signed_up.all %}
        <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ event.creator }}</a>
          <small class="text-muted">{{event.date_created|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'events-detail' event.id %}">{{ event.title }}</a></h2>
        <p class="article-content">{{ event.content }}</p>
            <p class="article-content">{{ event.community }}</p>
            <p class="article-content">{{ event.event_date }}</p>
      </div>
    </article>
    {% endif %}
    {% endfor %}
{%else%}
<p>Please login to see events you have joined</p>
{%endif%}
    {% if not events %}
    <p>No events found</p>
    {% endif %}
{% endblock content%}