{% load static %}
<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- main.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
	<style>
		p  { text-align: center }
	</style>
	
	{% if title %}
		<title> NEUTRAL- {{title}}</title>
	{% else %}
		<title>NEUTRAL</title>
	{% endif %}
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md fixed-top navbar-custom">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Neutral</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
			  <a class="nav-item nav-link" href="{% url 'blog-tutorial' %}">How To Use Neutral</a>
	          <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
	          <a class="nav-item nav-link" href="{% url 'All-posts' %}">Communities</a>
	        <!-- <a class="nav-item nav-link" href="{% url 'events' %}">Events</a> -->
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	        	{%if user.is_authenticated%}
				<a class="nav-item nav-link" href="{% url 'events-create' %}">Create Event</a>
	        		<a class="nav-item nav-link" href="{% url 'post-create' %}">Create Post</a>
	        		<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
	        		<a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>

	        	{%else%}
		          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
		          <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
		        {% endif %}
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>

	<main role="main" class="container-fluid">
	  <div class="row justify-content-center">
	    <div class="col">
	    	{% if messages %}
	    		{% for message in messages %}
	    			<div class="alert alert-{{message.tags}}">
	    				{{ message }}
	    			</div>
	    		{% endfor %}
	    	{% endif %}
	    

	
	<h1>How To Use Neutral</h1>
	<h1>Welcome</h1>
<p>This tutorial is going to show how to perform the various functions within Neutral! On behalf of Team Neutral, welcome to our Fighting Game Social Network! Topics covered in this tutorial include registration, login, logout, accessing the various communities, using the community recommender, creating posts and events, updating posts and events, liking and disliking posts and events, signing up and leaving events, updating posts and events, and commenting on posts and events, as well as the various pages on the website!</p>
<h1>The Homepage </h1>
<p>Upon first entering Neutral, you will be directed to your homepage. If you are logged in, the homepage will allow you to view: your posts and events, liked posts and events, and joined events. If you are not logged in, you will be greeted with a message asking you to log to enable this functionality.</p>
<h2>Registration </h2>
<p>If you are not logged in, you will see a Registration button at the top right of the navigation bar. After clicking this, you will be redirected to a form that will allow you to create an account. This form will ask you to provide a username, email, and a password; please note that the username and email must both be unique to you. After filling out these fields with valid information, you will be redirected to another form that will allow you to login. After logging in, you will be redirected back to your home page where you will now be presented with the links to view your posts and events! </p>
<h2>Logging In </h2>
<p>If you are not logged in, you will see a Login button next to the Registration button at the top right of the navigation bar. Upon clicking this button, you will be redirected to a form asking for your username and password. After entering a valid username and password and submitting, you will be redirected back to your homepage! </p>
<h2>How To Use Neutral </h2>
<p>On the left-hand side of the navigation bar at the top of the page, you will see a button labelled How To Use Neutral. Upon clicking that button, you will be redirected to this page and will learn how to use Neutral! </p>
<h2>About </h2>
<p>On the left-hand side of the navigation bar at the top of the page, you will see a button labelled About. Upon clicking that button, you will be redirected to our About page where you can learn more about Team Neutral and this project!</p>
<h2>Neutral </h2>
<p>At the top left of the navigation bar at the top of the screen, you will find a button labelled Neutral. Upon clicking that button, you will be redirected back to your homepage! </p>
<h2>Home </h2>
<p>At the top left of the navigation bar at the top of the page, you will find a button labelled Home. Upon clicking this button, you will be redirected back to your homepage! </p>
<h2>Profile </h2>
<p>If you are logged in, you will see a button on the top right of the navigation bar labelled Profile. Upon clicking this button, you will be redirected to a form that will allow you to update your profile! You can update your username, email, or profile picture! Upon clicking Submit, all updates will be applied to your profile! </p>
<h2>Search</h2>
<p>Whether or not you are logged in, you will see a search bar in the middle of the navigation bar at the top of the page. This can be used to search our database of posts based on the title. If you search a for a valid title, the name of the post along with the author of the post will be displayed. If you click on the name and author of the post, you will be taken to the page of that post.</p>
<h1>Communities </h1>
<p>On the top left side of the navigation bar, there is a button labelled Communities. Upon clicking this button, you will be redirected to a page that will allow you to see all the links to the various parts of our communities as well as a community recommender. Right now, we have four communities: Mortal Kombat, Smash, Guilty Gear, and Street Fighter! </p>
<h2>Recommender </h2>
<p>If you are new to fighting games and are not sure where to start with our communities, I recommend checking out our recommender, which will give you advice on the community that you will most likely enjoy! You can access the recommender by clicking the Recommender within any of the communities. Upon clicking that button, you will be redirected to a form that will ask your name and several questions related to fighting games to get an idea of which game you would enjoy the most. After filling out the form and pressing Submit, you will be redirected back to the communities page and a recommendation for which community you should check out will be displayed at the top of the screen! </p>
<h2>All Posts </h2>
<p>Upon clicking this button, you will be shown every post on our site! </p>
<h2>All Events </h2>
<p>Upon clicking this button, you will be shown every event on our site! </p>
<h2>Mortal Kombat Posts </h2>
<p>Upon clicking this button, you will be shown all posts for the Mortal Kombat community as well as general posts! </p>
<h2>Mortal Kombat Events </h2>
<p>Upon clicking this button, you will be shown all events for the Mortal Kombat community as well as all general events! </p>
<h2>Smash Posts </h2>
<p>Upon clicking this button, you will be shown all posts for the Smash community as well as general posts! </p>
<h2>Smash Events</h2>
<p>Upon clicking this button, you will be shown all events for the Smash community as well as all general events! </p>
<h2>Guilty Gear Posts</h2>
<p>Upon clicking this button, you will be shown all posts for the Guilty Gear community as well as general posts! </p>
<h2>Guilty Gear Events</h2>
<p>Upon clicking this button, you will be shown all events for the Guilty Gear community as well as all general events! </p>
<h2>Street Fighter Posts </h2>
<p>Upon clicking this button, you will be shown all posts for the Street Fighter community as well as general posts! </p>
<h2>Street Fighter Events </h2>
<p>Upon clicking this button, you will be shown all events for the Street Fighter community as well as all general events! </p>
<h1>Viewing Events and Post </h1>
<p>Whether or not you are logged in, you will be able to see a list of the events or posts associated with a community! This list will contain the name of the event or post, the description of the event or post, and the image associated with the event or post! If you click on the name of the event or post, you will be taken to its respective page where you can interact with it! </p>
<h2>Viewing Posts </h2>
<p>If you click on the name of a post, you will be redirected to the page for the post. On this page, you will be able to see the title of the post, the person who posted the post, the date the post was create, a description for the post, the number of likes and dislikes for the post and comments on the post. If you are logged in, you will also see various buttons for liking and disliking the post. If you are logged in as the creator of the post, you will also see buttons for updating and deleting the post. </p>
<h2>Viewing Events </h2>
<p>If you click on the name of an event, you will be redirected to the page for the event. On this page, you will be to see the name of the event, the description of the event, the type of event, the person who posted the event, the community the event will take place in, the date of the event, and the number of likes/dislikes/people signed up for the event. If you are logged in, you will also see various buttons to like/dislike/signup for the event. If you are logged in as the creator the event, you will also see buttons to update and delete the events as well as a list of the users signed up for the event. </p>
<h1>Posts </h1>
<p>Posts are simply blocks of text, and sometimes an image, that contain information about fighting games! Posts can be associated with one community or with all of them. Within each community, you can view the details of a post by clicking on the name of the post. While viewing the details, you will be able to interact with a post by either liking it or disliking it by click the respective buttons towards the bottom of the post if you are logged in! </p>
<h2>Creating Posts </h2>
<p>If you are logged in, you will be able to create a post by clicking the Create Post button at the top right of the navigation bar. Upon clicking this button, you will be redirected to a form that asks for a name for the post as well as content for the post. In addition to the name and content for the post, you can also select a community for the post to reside in. You can also upload an image for the post. Please note that the name, content, and community sections are required but an image is not required. After filling the blocks and clicking the Create Post button, the post will be created and will be visible within its respective community (or within all communities if you selected ALL for the community block)! </p>
<h2>Updating Posts</h2>
<p>If you are logged in, you can modify any posts that you created by clicking the Update button within the post that you are trying to update. Upon clicking this button, you will be presented with a form to update the post which contains blocks for updating the name of the post, updating the content of the post, updating the community associated with the post, and changing or adding an image for the post. After updating the post and clicking Update Post, you will be directed to the post you have just updated! </p>
<h2>Deleting Posts </h2>
<p>If you are logged in, you can delete any post that you created by clicking the Delete button within the post that you are trying to delete. Upon clicking this button, you will be redirected to a screen asking if you are sure that you want to delete the post. If you click cancel, the post will not be deleted, and you will be redirected back to the post. If you click Yes, Delete, the post will be deleted, and you will be redirected back to your homepage. </p>
<h2>Interacting With Posts </h2>
<p>To interact with a post, click on the title of the post to view the page for the post. </p>
<h3>Liking Posts </h3>
<p>If you are logged in, click the name of the post that you wish to like to see the page for the post. If you have not already liked or disliked the post, you will see a button at the bottom of the post labelled Like. Upon clicking this button, the post will be added to your Liked Posts and the number of likes will increase. </p>
<h3>Unliking Posts </h3>
<p>If you are logged in, click the name of the liked post that you wish to remove a like from to see the page for the post. If you have liked the post, you will see a button at the bottom of the post labelled Unlike. Upon clicking this button, the post will be removed from your Liked Posts and the number of likes will decrease. </p>
<h3>Disliking Posts </h3>
<p>If you are logged in, click the name of the post that wish to dislike to see the page for the post. If you have not already liked or disliked the post, you will see a button at the bottom of the screen labelled Dislike. Upon clicking this button, the number of dislikes on the post will increase. </p>
<h3>Removing Dislikes On Posts </h3>
<p>If you are logged in, click the name of the disliked post that you wish to remove a dislike from to the see the page for the post. If you have disliked the post, you will see a button at the bottom of the post labelled Remove Dislike. Upon clicking this button, the number of dislikes on the post will decrease. </p>
<h3>Comments </h3>
<p>Whether or not you are logged in, you will be able to post comments on posts! To do this, simply click on the post that you wish to comment on to see the page for the post and click the Add Comment link. This will redirect you to a form that will ask you to select your name and type a body for the comment. Upon clicking Add Comment, the comment will be added to the post, and you will be redirected back to the homepage! </p>
<h1>Events</h1>
<p>Events are Team Neutral’s way of bringing our communities together to enjoy playing fighting games with each other! Events can be associated with a single community or with all of them, depending on what community the creator selected during creation. There are three types of events: Friendlies, Exhibitions, and Tournaments. Friendlies are events focused around having fun with the game and are not competitive. Exhibitions are somewhat competitive, but typically do not have a prize associated with them. Tournaments are incredibly competitive and typically have a prize associated with them. </p>
<h2>Creating Events </h2>
<p>If you are logged in, you will see a button at the top right of the screen labelled Create Event. Upon clicking this button, you will be redirected to a form to create the event. The form will ask you for a title for the event, content for the event description, the event date (which must be in the future), the community to be associated with the event, the event type, and an image. Please note that all fields besides the image are required to create the event. After entering valid information and click Create Event, you will be redirected to the page for event. </p>
<h2>Updating Events</h2>
<p>If you are logged in, you can update the title, content, and image of any event that you have previously created! To do this, simply click on the title of the event that you wish to update to direct you to the event page and click Update. After clicking the button, you will be redirected to a form to update the event with fields for updating the title, content, and image for the event. Upon clicking Update Event, you will be direct back to the page for the event. </p>
<h2>Deleting Events </h2>
<p>If you are logged in, you can delete any event that you have created by viewing the event and clicking the button labelled Delete. Upon clicking this button, you will be redirected to a page asking if you are sure that you want to delete this event. If you click Cancel, the event will not be deleted, and you will be redirected back to the page for the event. If you click Yes, Delete, the event will be deleted, and you will be redirected back to your homepage. </p>
<h2>Interacting With Events </h2>
<p>To interact with an event, click the title of the event to view the event page. </p>
<h3>Liking Events </h3>
<p>If you are logged in, click the name of the event that you wish to like to view the event page. If you have not already liked or disliked the event, you will see a button at the bottom of the post labelled Like. Upon clicking this button, the post will be added to your Liked Events and the number of likes will increase. </p>
<h3>Unliking Events </h3>
<p>If you are logged in, click the name of the liked event that you wish to remove a like from to view the page for the event. If you have liked the event, you will see a button at the bottom of the post labelled Unlike. Upon clicking this button, the event will be removed from your Liked Events and the number of likes will decrease. </p>
<h3>Disliking Events </h3>
<p>If you are logged in, click the name of the event that wish to dislike to see the page for the event. If you have not already liked or disliked the event, you will see a button at the bottom of the screen labelled Dislike. Upon clicking this button, the number of dislikes on the event will increase. </p>
<h3>Removing Dislikes On Events </h3>
<p>If you are logged in, click the name of the disliked event that you wish to remove a dislike from to see the page for the event. If you have disliked the event, you will see a button at the bottom of the post labelled Remove Dislike. Upon clicking this button, the number of dislikes on the event will decrease. </p>
<h3>Sign Up For An Event </h3>
<p>If you are logged in, click on the name of the event that you wish to sign up for to see the page for the event. If you have not already signed up for an event, you will see a button labelled Sign Up at the bottom of the event. Upon clicking this button, you will be added to the list of people signed up for the event and the number of people signed up for the event will increase. Please note that you cannot sign up for events that have already occurred. </p>
<h3>Leave An Event </h3>
<p>If you are logged in, click on the name of the event that you already signed up for but wish to leave to see the page for the event. If you have already signed up for the event, you will see a button labelled Leave Event at the bottom of the event. Upon clicking this button, you will be removed from the event and the number of people signed up for the event will decrease. </p>
<h3>Viewing Who Signed Up For An Event</h3>
<p>If you are logged in as the creator of an event, you can see who signed up for the event on the event page! After accessing the event page by clicking on the title of the event, you will see ‘Users signed up:’ followed by a list of usernames of people who have signed up for the event! </p>
<h3>Comments </h3>
<p>Whether or not you are logged in, you will be able to post comments on events! To do this, simply click on the event that you wish to comment on to see the page for the event and click the Add Comment link. This will redirect you to a form that will ask you to select your name and type a body for the comment. Upon clicking Add Comment, the comment will be added to the event, and you will be redirected back to the homepage! </p>
<h1>Comments </h1>
<p>Whether or not someone you are logged in, you are able to comment on both posts and events. </p>
<h2>Posting A Comment </h2>
<p>To post a comment, click on the title of the event or post you wish to comment on to view the page for that event or post and click Add Comment (or Add One if there are not any comments on the event or post). Upon clicking this button, you will be redirected to a form that will ask you to select your name and type a body for the comment. Upon entering valid information and pressing Add Comment, the comment will be added to the event or post, and you will be redirected back to the homepage! </p>
<h2>Interacting With Comments </h2>
<p>If you are logged in, you can interact with comments by liking, unliking, disliking, or removing dislikes from them! </p>
<h3>Liking Comments </h3>
<p>If you are logged in, you will see a button labelled Like at the bottom of a comment if you have not already liked or disliked the comment. Upon clicking this button, the number of likes on the comment will increase. </p>
<h3>Unliking Comments</h3>
<p>If you are logged in, you will see a button labelled Unlike at the bottom of a comment that you have already liked the comment. Upon clicking this button, the number of likes on the comment will decrease. </p>
<h3>Disliking Comments</h3>
<p>If you are logged in, you will see a button labelled Dislike at the bottom of a comment if you have not already liked or disliked the comment. Upon clicking this button, the number of dislikes on the comment will increase. </p>
<h3>Removing Dislikes On Comments </h3>
<p>If you are logged in, you will see a button labelled Remove Disliked at the bottom of a comment if you have already disliked the comment. Upon clicking this button, the number of dislikes on the comment will decrease. </p>
<h1>Conclusion </h1>
<p>Thank you very much for reading through the tutorial for Neutral! If you have any questions, feel free to reach out to a member of Team Neutral and we would be happy to answer the question to the best of our abilities! </p>
</div>
</div>
</main>
	</body>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>